body,
html {
    width: 100%;
    height: 100%;
}

body{
    padding-top:100px;
}




#content{
    min-height: 600px;
}

.navbar-brand{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    position: relative;
    font-size: 45px;
    margin: 0px;

}

#banner_image {
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(/img/tech.jfif) no-repeat center center;
    background-size: cover;
    position: top;
    
}
h1{
    font-size: 120px;
    letter-spacing: 5px;
    text-shadow: 3px 5px #9d9d9d;
    margin-left: 250px;
}

#banner_content {
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 12%;
    margin-bottom: 12%;
    
    max-width: 660px;
}
#rndblogs{

    width: 92%;
}

#item_list {
    padding-top: 50px;
}

/*This code ensures that when we navigate to a particular section of a page, the section does not get lost behind the header*/


#login-panel .panel-footer{
    font-weight:normal;
}

footer {
    position: fixed;
    padding: 10px 0;
    background-color: #101010;
    color:#9d9d9d;
    bottom: 0;
    width: 100%;
}