/* #content {
  min-height: 600px;
} */
/* #projects{
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(/img/education\ img3.webp) no-repeat center center;
  background-size: cover;
  height:50%;
}
.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2rem;
    text-align: center;

} 
.section-title span{
    color: red;
}
#projects .projects{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
   
}
.projects .projects-header h1{
    margin-bottom: 50px;
}
   
#projects .all-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#projects .project-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 20px;
}
#projects .project-info{
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(15, 13, 13);
}

#projects .project-info h1{
  font-size: 4rem;
  font-family: 500;
  color: white;
}
#projects .project-info h2{
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 10px;

}
#projects .project-info p{
  color: rgb(240, 231, 231);
}

#projects .project-img{
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
}

#projects .project-img::after{
content: '';
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
background-image: linear-gradient();
opacity: .7;
}
#projects .project-img img{
  transition: .3s ease transform;
}
#projects .project-item:hover .project-img img{
  transform: scale(1.1);
}
 /* responsive */
 /* #project .project-item{
   flex-direction: row;
}
#projects .project-item:nth-child(even){
  flex-direction: row-reverse;
}
#projects .project-item{
  height: 400px;
  margin: 0;
  width: 100%;
  border-radius: 0;
}
#projects .all-projects .project-info{
  height: 100%;

}
#projects .all-projects .project-imgs{
height: 100%;
}    */

h1 {
  font-size: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: left;
  padding-top: 75px;
}

#item_list {
  padding-top: 50px;
}

/* This code ensures that when we navigate to a particular section of a page, the section does not get lost behind the header */

#login-panel .panel-footer {
  font-weight: normal;
}

footer {
  padding: 10px 0;
  background-color: #101010;
  color: #000000;
  bottom: 0;
  width: 100%;
}
.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2rem;
    text-align: center;

} 
.section-title span{
    color: red;
}
.container{
  color: aliceblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 20px;   
    background-color: rgb(66, 66, 66);
}
.container1{
    transition: .3s ease ;
}
.container1:hover{
    transform: scale(1.1);
}
.containert2{
  flex-direction: row;
}
.container2:nth-child(even){
  flex-direction: row-reverse; }

.custom-readme{
  background: transparent;
  border: 2px solid rgb(0, 0, 0);
  padding: 12px 36px;
  position: relative;
  overflow: hidden;
  margin-right: 60%;
}
.custom-readme a{
  color: #111;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
.custom-readme::after{
  content: "";
  position: absolute;
  width: 40px;
  height: 64px;
  background: red;
  left: -56px;
  top: -11px;
  transform: rotate(20deg);
  opacity: 0.1;
  transition: 400ms;
}
.custom-readme:hover::after{
  left: 100%;
  opacity: 1;
}
.containert2{
  flex-direction: row;
}

